resources:
- oauth.yaml
- project-leaders.yaml
- self-provisioners.yaml
secretGenerator:
- name: htpasswd-secret
  namespace: openshift-config
  files:
  - htpasswd=htpasswd-secret-data
#- name: ca-config-map
#  namespace: openshift-config
#  files:
#  - ca.crt=ca.crt
- name: ldap-secret
  namespace: openshift-config
  literals:
  - bindPassword=Redhat123@!
- name: v4-0-config-user-idp-1-bind-password
  namespace: openshift-authentication
  literals:
  - bindPassword=Redhat123@!
- name: v4-0-config-user-idp-0-file-data
  namespace: openshift-authentication
  files:
  - htpasswd=htpasswd-secret-data
configMapGenerator:
- name: ca-config-map
  namespace: openshift-config
  files:
  - ca.crt
- name: v4-0-config-user-idp-1-ca
  namespace: openshift-authentication
  files:
  - ca.crt
generatorOptions:
  disableNameSuffixHash: true
