apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: do380
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - namespace: '*'
    server: '*'
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
  sourceRepos:
  - '*'
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oauth
spec:
  destination:
    server: 'https://kubernetes.default.svc'
  project: do380
  source:
    path: oauth-config
    repoURL: 'https://github.com/openshiftrocks/gitops-resources.git'
    targetRevision: HEAD
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ldap-sync
spec:
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: auth-review
  project: do380
  source:
    path: ldap-sync
    repoURL: 'https://github.com/openshiftrocks/gitops-resources.git'
    targetRevision: HEAD
